# Installed by operations, not read from the application tree.
Defaults:lpmf-gowa-maintenance env_reset, !setenv, env_keep -= *
Defaults:www-data env_reset, !setenv, env_keep -= *
Defaults!LPMF_GOWA_SUBMIT secure_path="/usr/sbin:/usr/bin:/sbin:/bin"
Cmnd_Alias LPMF_GOWA_SUBMIT = /usr/local/sbin/lpmf-gowa-submit [0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f]-[0-9a-f][0-9a-f][0-9a-f][0-9a-f]-[1-5][0-9a-f][0-9a-f][0-9a-f]-[89ab][0-9a-f][0-9a-f][0-9a-f]-[0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f]
Cmnd_Alias LPMF_GOWA_PREPARE = /usr/local/sbin/lpmf-gowa-release-maintenance --prepare-capabilities, /usr/local/sbin/lpmf-gowa-release-maintenance --prepare-latest
lpmf-gowa-maintenance ALL=(root) NOPASSWD: LPMF_GOWA_SUBMIT, LPMF_GOWA_PREPARE
www-data ALL=(root) NOPASSWD: /usr/local/sbin/lpmf-gowa-release-maintenance --prepare-capabilities
